<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
  <!-- Header -->
  <div class="row">
	<div class="column text-center">
		<img src="http://placehold.it/150x150" alt="">
		<p>Hey Heres Some Stuff</p>
		<div class="menu-centered">
			<ul class="menu">
			  <li><a href="#0"><i class="fi-list"></i> <span>One</span></a></li>
			  <li><a href="#0"><i class="fi-list"></i> <span>Two</span></a></li>
			  <li><a href="#0"><i class="fi-list"></i> <span>Three</span></a></li>
			  <li><a href="#0"><i class="fi-list"></i> <span>Four</span></a></li>
			</ul>
		</div>
	</div>
  </div>
  <!-- Gallery -->
  <div class="row">
  
  </div>
  
  <!-- Footer -->
  <div class="row">
  
  </div>
  
  
	<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>

  </body>
</html>
